<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
</head>
<body>

    <h1>
        <span><a href="/Home/Index" class="btn btn-dark">Ürünler</a></span>
        <span><a href="/Category/Index" class="btn btn-dark">Kategoriler</a></span>
    </h1>
    <br />
    <br />
    <br />
    <br />

    <div>
        @RenderBody()
    </div>
</body>
</html>
