@model OrnekUyg.Model.Category
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <br />
    <br />
    <h3>Kategori Güncelleme</h3>
    <form action="/Category/Update" method="post" class="form-group">
        @Html.HiddenFor(x => x.CategoryID)
        Kategori Adı : @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
        <br />
        <input type="submit" value="Güncelle" class="btn btn-info" />
    </form>

